@import "compass/reset";
@import "compass/css3";
.navbar, .content {
	opacity: 0;
}
table, form, button, .panelLeft, .panelRight, #rel, .dropdown, input, .rules{
	box-shadow:0 0 10px rgba(0,0,0,0.5);
	border:4px double black;
}
table, form, button, input, .rules {
	margin: 10px auto;
	text-align: center;
}
body {
	background: #FFDD73;
	overflow-x: hidden;
}
table, form, .rules {
	z-index:100;
	position: relative;
}
.panelLeft, .panelRight {
	position:fixed;
	width: 50px;
	height: 100%;
	background-image: url(../img/glider.gif);
	background-size: 100%;
	top: 0;
	opacity: 0.4;
	z-index:1;
	display: none;
}
.panelLeft {
	left: 0;
}
.panelRight {
	right: 0;
}
#rel, #abs p {
	font-size: 3em;
	text-align:center;
	width: 100%;
	background-color: #01939A;
	color: #FF7673;
	border:4px solid #FFD173;
}
#abs p {
	background-color: #80EA69;
	color: #FFAD73;
	border:4px solid #E266B7;
	display: inline-block;
}
#rel {
	position: relative;
	opacity: 0;
	margin: 10px 0;
	z-index:10;
}
#abs {
	position: absolute;
	top: 10px;
	margin-top: 40%;
	z-index: 100;
	width: 100%;
	font-size: 2em;
	overflow: hidden;
	z-index:10;
}
#strapper {
	width: 200px;
	height: 52px;
	@include background (linear-gradient(to bottom left, rgba(1,147,154,0) 40%, rgba(128,234,105,1) 49%));
	position: absolute;
	margin-left: 100%;
	top: 14px;
	border-bottom: 4px solid #E266B7;
	z-index: 101;
}
table {
	margin: 0 auto;
	background-color: white;
	z-index:100;
}
#life {
	td {
		width: 15px;
		height: 15px;
		border: 1px solid #7dc8f7;
	}
	.life , .born {
		background-color: green;
	}
	.born {
		opacity: 0;
	}
}
button, input {
	display: inline-block;
	width: 100px;
	height: 50px;
	vertical-align: middle;
}
.stop {
	display: none;
}
.navbar-nav {
	margin: 0 auto;
	text-align: center;
	float: none;
	max-width: 72%;
}
.dropdown-toggle {
	background-color: rgba(0,128,0,0.8);
	color: white;
	text-align: center;
	.forever {
		background-color: #f4f5a5;
		color: blue;
	}
	.periodic {
		background-color: blue;
		color: yellow;
	}
	.moving {
		background-color: yellow;
		color: red;
	}
	.guns {
		background-color: black;
		color: white;
	}
}
.dropdown-menu {
	p {
		text-align: center;
	}
	div {
		cursor: pointer;
		img {
			float: left;
		}
		div {
			float: right;
			text-align: right;
			p {
				text-align: right;
			}
		}
	}
}
form, .rules {
	background: #679FD2;
}
.rules {
	color: #360570;
	font-weight: bold;
	h1 {
		font-size: 20px;
		padding: 15px;
	}
	p {
		font-size: 15px;
		padding: 10px;
	}
	ul {
		text-align: left;
		margin:10px 20px;
		li {
			list-style-type: disc;
			margin: 5px 15px;
		}
	}
}
@media screen and (max-width:1200px) {
	.navbar-nav > li {
		float: none;
	}
}
