@import "compass/reset";
table, form, button {
	margin: 40px auto;
	border:4px double black;
	box-shadow:0 0 10px rgba(0,0,0,0.5);
	text-align: center;
}
#life {
	td {
		width: 15px;
		height: 15px;
		border: 1px solid blue;
	}
	td.life {
		background-color: green;
	}
}
button {
	display: inline-block;
	width: 100px;
}
.stop {
	display: none;
}
